@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the square div a circle */
}

.gradient-green {
    background-image: linear-gradient(to right, #ffffff 0%, #00ff00 100%);

}

.gradient-blue {
    background-image: linear-gradient(to top, #ffffff 0%, #0000ff 100%);
}

.gradient-red {
    background-image: linear-gradient(to bottom, #ffffff 0%, #da56bb 100%);
}

.button {
    align-items: center;
    background: 0 0;
    border: none;
    border-radius: 6.25rem;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 0.363636em;
    justify-content: center;
    letter-spacing: -0.01em;
    line-height: 1.04545;
    overflow: hidden;
    padding: 0.7rem 1.5rem;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    text-decoration: none
}

@media (hover: hover) {
    .button.button--stroke:hover {
        color: black;
        text-decoration: none
    }
}

.button--stroke:after {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.button--stroke:after {
    border: 0.125rem solid white;
    border-radius: 6.25rem;
    content: "";
    pointer-events: none;
}

.button__label {
    position: relative;
    text-align: center;
    transition: color 50ms red;
}

.button--stroke:hover .button__label {
    transition: color 0.15s red;
}

.button__flair {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.button--stroke .button__flair {
    transform: scale(0);
    transform-origin: 0 0;
    will-change: transform;
}

.button__flair:before {
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 170%;
}